{
	"_comment": "rename '.env-cmdrc.example.json' to '.env-cmdrc.json'. This will gives you access to the env files",
	"prod": {
		"REDIS_HOST": "cache"
	},

	"dev": {
		"REDIS_HOST": "localhost"
	}
}
